{% block header %}
    {% include 'index.html' %}
{% endblock %}
{% block content %}
    <form class="form-followers" method="post" action="{% url 'followers' %}">
        <h2 class="title-form-followers">Suivre d'autres utilisateurs</h2>
        <div class="form-container">
            {{ form.as_p }}
            {% csrf_token %}
            <button class="button-form-followers" type="submit">Envoyer</button>
        </div>
        <p class="error">{{ message }}</p>
    </form>
{% endblock content %}