<div class="d-flex flex-column justify-content-center align-items-center w-50 h-25 m-auto bg-light border">
    <h2 class="text-center mb-5">Abonnements</h2>
    <table class="table table-bordered table-dark w-75">
        <tbody>
            <tr>
                {% for i in items %}
                    <td scope="row" class="text-start align-middle">{{ i }}</td>
                    <td scope="row" class="text-end">
                        <form action="{% url 'followers' %}" method="get" class="form-control bg-transparent border-0">
                            <button class="btn btn-primary" type="submit" name="unfollow" value="{{ i }}">Se désabonner</button>
                        </form>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
