<div class="d-flex flex-column justify-content-center align-items-center w-50 h-25 m-auto bg-light border">
    <h2 class="text-center">Abonnements</h2>
    <table class="table table-bordered table-dark w-75">
        <tbody>
            {% if not followers %}
                <tr>
                    <p class="fw-bold lead">Vous n'êtes abonné à personne !</p>
                </tr>
            {% endif %}
            {% for i in followers %}
                <tr>
                    <td class="text-start align-middle">{{ i }}</td>
                    <td class="text-end">
                        <form action="{% url 'followers' %}" method="get" class="form-control bg-transparent border-0">
                            <button class="btn btn-primary" type="submit" name="unfollow" value="{{ i }}">Se désabonner</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
