.form-followers {
    width: 30%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding: 30px;
    border: 1px solid #F1F1F1;
    background: #FFF;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    column-gap: 15px;
}

.title-form-followers {
    color: #000;
    text-align: center;
}

.input-followers {
    width: 100%;
    height: 15%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #CCC;
    box-sizing: border-box;
}

.input-followers::placeholder {
    text-align: center;
}

.button-form-followers {
    width: 100px;
    height: 15%;
    margin: 8px 0;
    padding: 6px 20px;
    background: #53AF57 none;
    border: none;
    cursor: pointer;
    color: #FFF;
}

.followers-table {
    width: 640px;
    border: 1px solid #F1F1F1;
    background: #FFF;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 0 auto;
    margin-top: 50px;
}

tr {
    display: flex;
    justify-content: center;
    align-items: center;
}

tr:not(:first-child) {
    gap: 440px;
}

.title-table {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.item-table {
    vertical-align: center;
    width: auto;
    height: auto;
    font-weight: bold;
}

.title-table {
    width: 100%;
}

.item-follower {
    width: 150px;
    height: 15%;
    margin: 8px 0;
    padding: 6px 20px;
    background: #53AF57 none;
    border: none;
    cursor: pointer;
    color: #FFF;
}

.error {
    text-transform: lowercase;
    padding: 10px 20px;
}

.error::first-letter {
    text-transform: capitalize;
}

.follower {
    width: 100%;
    height: auto;
    text-transform: uppercase;
    font-weight: bold;
}