.container-signin {
    display: flex;
    height: 100%;
}

.signin, .signup {
    height: 400px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
    background: linear-gradient(to right, #d31027, #ea384d);
}

.title-login {
    margin: 10px auto;
    color: #FFF;
    width: 400px;
    text-align: center;
    font-size: 15px;
}

.link-signup {
    color: #FFF;
    border: 2px solid #FFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.link-signup:hover {
   font-weight: bold;
}

.input-login {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px;
    margin-bottom: 15px;
    color: #FFF;
}

.input-login::placeholder {
    color: #FFF;
    text-align: center;
}

.button-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: none;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 0 auto;
    color: #FFF;
}

.error {
    padding: 10px 20px;
    text-align: center;
    color: #FFF;
}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}