@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #67BE4B;
}

.container-nav {
    height: 10%;
}

.navbar {
    height: 100%;
    margin: auto;
    display: flex;
    justify-items: center;
    align-items: center;
}

.menu {
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-items: center;
    align-items: center;
    column-gap: 40px;
    right: 50px;
}

.menu > .item {
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    color: #FFF;
    cursor: pointer;
}

.menu > .item:hover {
    border-bottom: 1px solid #FFF;
}

.title {
    color: #FFF;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    left: 0;
    margin: 0 auto;
    width: 100%;
}

.link-logout {
    text-decoration: none;
    color: #FFF;
}
