@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #67BE4B;
}

.container-nav {
    height: 10%;
}

.navbar {
    height: 100%;
    margin: auto;
}

.title {
    color: #FFF;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    font-size: 30px;
}
