.form-signup, p {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 60%;
    margin: 50px auto;
}

.form-signup {
    background: linear-gradient(to right, #d31027, #ea384d);
}

.link-return {
    text-decoration: none;
    color: #FFF;
}

.helptext {
    display: none;
}

input, button {
    width: 250px;
    height: 35px;
}

.button-signup{
    border: 1px solid #FFF;
    background: none;
    font-size: 15px;
    color: #FFF;
    margin-top: 15px;
    cursor: pointer;
}

.title-signup {
    text-align: center;
    color: #FFF;
    margin: 25px auto;
    width: 40%;
    font-size: auto;
}

p:not(:empty) {
    height: auto;
    margin: 25px auto;
}

p:empty {
    display: none;
}
