{% block header %}
    {% include 'navbar.html' %}
{% endblock header %}
<form method="post" action="{% url 'create-ticket' %}" enctype="multipart/form-data">
    <h3 class="text-center mt-5">Créer un ticket</h3>
    <div class="article container-fluid border border-dark w-50 mt-5">
        {% csrf_token %}
        {{ ticket.as_p }}
        <div class="d-flex justify-content-end">
            <input class="form-control m-3 btn btn-primary w-25" type="submit" value="Envoyer">
        </div>
    </div>
</form>