{% block header %}
    {% include 'navbar.html' %}
{% endblock %}
<div class="d-flex vertical-center">
    <div class="d-flex flex-column align-items-center w-50">
        <h1 class="text-center">Inscrivez-vous maintenant</h1>
        <form method="get" action="{% url 'signup' %}">
            <button class="btn btn-dark" type="submit">S'inscrire</button>
        </form>
    </div>
    <div class="d-flex flex-column align-items-center w-50">
        <h1 class="text-center">Connectez-vous</h1>
        <form class="container-fluid w-75" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="d-flex justify-content-center p-2">
                <small id="error" class="custom-small">{{ message }}</small>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-dark mt-3" type="submit">Se connecter</button>
            </div>
        </form>
    </div>
</div>
