{% extends 'index.html' %}
{% block content %}
<section class="container-signin">
    <div class="signin">
        <div class="title-login">
            <h2>Inscrivez-vous maintenant</h2>
        </div>
        <a class="link-signup" href="/signup/">S'inscrire</a>
    </div>
    <div class="signup">
        <div class="title-login">
            <h2 class="title-login-h2">Connectez-vous</h2>
        </div>
        <form class="form-login" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="button-signup">Se connecter</button>
            <p class="error">{{ message }}</p>
        </form>
    </div>
</section>
{% endblock content %}