{% extends 'index.html' %}
{% block content %}
<div class="container">
    <div class="signup">
        <h2 class="title-login">Inscrivez-vous maintenant</h2>
        <a href="/signup/" class="link-signup">S'inscrire</a>
    </div>
    <form class="form-login" method="post">
        <h2 class="title-login">Se connecter</h2>
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="button">Se connecter</button>
        <p class="error">{{ message }}</p>
    </form>
</div>
{% endblock content %}
