{% block header %}
    {% include 'navbar.html' %}
{% endblock header %}
{% block posts %}
    {% load static %}
    <h1 class="text-center mt-3">Vos posts</h1>
    {% for review in reviews  %}
        <div class="d-flex justify-content-center flex-column mt-5 border border-dark w-50 m-auto">
        <div class="d-flex justify-content-between">
            <p class="text-start p-2">Vous avez publié une critique</p>
            <p class="text-end p-2">{{ review.time_created }}</p>
        </div>
        {% if review.rating == 5 %}
            <p class="p-2">{{ review.headline }} - ★★★★★</p>
        {% elif review.rating == 4 %}
            <p class="p-2">{{ review.headline }} - ★★★★</p>
        {% elif review.rating == 3 %}
            <p class="p-2">{{ review.headline }} - ★★★</p>
        {% elif review.rating == 2 %}
            <p class="p-2">{{ review.headline }} - ★★</p>
        {% elif review.rating == 1 %}
            <p class="p-2">{{ review.headline }} - ★</p>
        {% else %}
            <p class="p-2">{{ review.headline }} - 0 étoile</p>
        {% endif %}
        <p class="p-2">{{ review.body }}</p>
        {% for ticket in tickets  %}
            {% if ticket.id == review.ticket_id %}
                <div class="border border-dark m-2 p-2">
                    {% if ticket.user != review.user %}
                        <p>Ticket - {{ ticket.user }}</p>
                    {% else %}
                        <p>Ticket - Vous</p>
                    {% endif %}
                    <p>{{ ticket.title }}</p>
                    <div class="col-md-3">
                        <img class="img-fluid" src="{% static "" %}{{ ticket.image }}" alt="couverture livre">
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="d-flex justify-content-end gap-3 m-2">
            <form action="">
                <button class="btn btn-primary">Modifier</button>
            </form>
            <button class="btn btn-primary h-25">Supprimer</button>
        </div>
    </div>
    {% endfor %}
    {% for ticket in tickets  %}
        <div class="d-flex justify-content-center flex-column mt-5 border border-dark w-50 m-auto">
            <div class="d-flex justify-content-between">
                <p class="text-start p-2">Vous avez publié un ticket</p>
                <p class="text-end p-2">{{ ticket.time_created }}</p>
            </div>
            <p class="p-2">{{ ticket.title }}</p>
            <div class="col-md-3 p-2">
                <img class="img-fluid" src="{% static "" %}{{ ticket.image }}" alt="couverture livre">
            </div>
            <div class="d-flex justify-content-end gap-3 m-2">
                <form action="{% url 'edit' ticket.id %}">
                    <button class="btn btn-primary">Modifier</button>
                </form>
                <button class="btn btn-primary h-25">Supprimer</button>
            </div>
        </div>
    {% endfor %}
{% endblock posts %}
