{% block header %}
    {% include 'navbar.html' %}
{% endblock %}
{% block form-signup %}
  <div class="d-flex justify-content-center w-100 m-5">
    <form class="form-control bg-light w-25" method="post">
      <h2 class="text-center m-3">Inscrivez-vous</h2>
        {% csrf_token %}
        {{ form.as_p }}
      <div class="d-flex justify-content-center p-2">
        <small id="emailHelp" class="custom-small">
            {% if form.errors %}
               {% for field in form %}
                    {% for error in field.errors %}
                      <small class="d-block text-center">{{ error }}</small>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </small>
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary m-2" href="{% url 'login' %}">Retourner</a>
            <button type="submit" class="btn btn-primary m-2">S'inscrire</button>
        </div>
        {% if message %}
            <div class="alert alert-success">
             <strong>Succès !</strong> {{ message }}
            </div>
        {% endif %}
    </form>
  </div>
{% endblock form-signup %}
